/* RESET CSS */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* STYLE */
:root {
  font-family: "Inter", system-ui;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: normal;

  /* CSS VARIABLE */
  --headerHeight: 100px;

  --primaryColor: #FFFFFF;
  --secondColor: #000000;
  --accentColor: #D2FF50;
  --footerBgColor: #242424;

  --primaryTextColor: #000000;
  --secondTextColor: #ffffff;
  --accentTextColor: #BCBCBC;
}

#app {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0 auto;
}

input {
  background: none;
  border: none;
  outline: none;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* COMMON CLASS */
.no-border {
  border: none;
}

.btn,
.btn-primary {
  border-radius: 1rem;
}

.btn-primary {
  background: #FFF9BC;
}

.flex,
.flex-center {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

/* CHECKBOX */
.checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  user-select: none;
}

.checkbox-wrap {
  display: block;
  position: relative;
  width: 2rem;
  height: 2rem;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkmark {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.50);
}

.checkbox input:checked ~ .checkmark {
  background-color: #FFF9BC;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 50%;
  top: 40%;
  transform: translate(-50%, -45%) rotate(45deg);
  width: 8px;
  height: 16px;
  border: solid #000;
  border-width: 0 2px 2px 0;
}

.checkbox-label {
  font-weight: 500;
}