/* RESET CSS */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* STYLE */
:root {
  font-family: "Inter", system-ui;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
}

#app {
  width: 1200px;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  border: 1px solid black;
}