/* HEADER */
.header-container {
  width: 100%;
  height: var(--headerHeight);
  position: fixed;
  top: 0;
  z-index: 999;
  background: var(--primaryColor);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header-wrap {
  height: 100%;
  gap: 2rem;
  padding: 1rem;
}

/* MENU */
.menu-btn {
  position: relative;
  padding: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.menu-modal {
  display: none;
  position: absolute;
  top: var(--headerHeight);
  left: 0;
  right: 0;
  height: fit-content;
  max-height: 240px;
  background: var(--primaryColor);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.menu-modal-wrap {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
  height: 100%;
}

/* CATEGORY LIST */
.category-header {
  font-size: 1.125rem;
}

.category-group {
  max-height: 100%;
  max-width: 320px;
}

.category-list.flex {
  flex-wrap: wrap;
}

.category-list.flex .category-item {
  flex: 1 1 50%;
}

.category-item {
  margin: 0.5rem 0;
}

/* SEARCH */
.search-bar {
  display: flex;
  height: 100%;
  flex-grow: 1;
  background: #f4f4f4;
}

.search-bar__label {
  padding: 1rem;
  height: 100%;
}

#search-bar-input {
  flex-grow: 1;
  font-size: 1.125rem;
}

#search-bar-input::placeholder {
  color: #bcbcbc;
}

/* LOGIN/SIGNUP FORM */
.loginBtn {
  height: 100%;
  padding: 0px 2rem;
  font-size: 1.25rem;
}

#signup-form {
  display: none;
}

.other-cta-container {
  width: 100%;
  display: flex;
  gap: 4px;
  justify-content: center;
  padding: 16px 0px;
  border-top: 1px solid #000;
}

.other-cta__link {
  color: #BCBCBC;
  text-decoration: underline;
}

/* LANDING PAGE */
.landing-page-wrap {
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  padding: 5rem;
}

.landing-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 0 0 30%;
}

.landing-text__title {
  font-size: 3rem;
}

.landing-text__btn {
  width: fit-content;
  padding: 1rem;
}

#landing-img {
  flex: 1;
}

.trust-badge-list {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.trust-badge {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.trust-badge-icon-wrap {
  background-color: var(--accentColor);
  width: 5rem;
  height: 5rem;
}

.trust-badge-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.trust-badge-text__title {
  font-size: 1.5rem;
}

.trust-badge-text__detail {
  font-size: 0.875rem;
}

/* MAIN */
.main-wrap {
  display: flex;
}

/* FILTER PANEL */
.filter-list {
  margin-bottom: 2rem;
}

.filter-list__item {
  margin: 0.5rem 0;
}

.filter-list__title {
  font-size: 1.5rem;
  border-bottom: solid 1px black;
  padding-bottom: 0.5rem;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  flex: 1;
}

/* PAGINATION */
#pagination {
  margin: 32px 0;
  gap: 4px;
}

.pagination__btn {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

/* PRODUCT CARD */
.product-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  width: 15rem;
  height: 20rem;
  padding: 1rem 0.5rem;
  margin: 0.5rem 0;
  background: var(--primaryColor);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.product-card__img-wrap {
  width: 100%;
  height: 9rem;
}

.product-card__img-wrap img {
  height: 100%;
}

.product-card__brand {
  max-height: 2rem;
}

.product-card__brand img {
  height: 100%;
}

.product-card__name {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card__price--old {
  color: #bcbcbc;
  text-decoration: line-through;
  font-size: 0.875rem;
}

.product-card__price--new {
  margin-top: auto;
  font-size: 1.25rem;
}

.product-card__wishlist-btn {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

/* PRODUCT DETAIL */
#product-detail {
  padding-top: 32px;
  height: 924px;
  width: 100%;
}

.product-detail__overview {
  padding: 1rem 0;
  border-bottom: 1px solid #BCBCBC;
}

.product-detail__description-wrap {
  padding: 1rem 0;
  flex-direction: column;
  gap: 1rem;
}

.product-detail__description .title {
  font-size: 2rem;
}

.product-detail__description .brand,
.product-detail__description .date {
  font-size: 1.25rem;
}

.product-detail__description .description {
  font-weight: 400;
}

/* CAROUSEL */
.carousel__preview img {
  width: 560px;
  height: 400px;
}

.carousel__gallery {
  margin-top: 16px;
  gap: 1rem;
}

.carousel-gallery__img {
  width: 128px;
  height: 96px;
  border-radius: 8px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.carousel-gallery__img.active {
  border: 1px solid #000;
}

/* DETAIL PANEL */
.detail-panel {
  height: 100%;
  flex-direction: column;
  gap: 2rem;
}

.detail-panel__name {
  font-size: 2rem;
}

.detail__ratings img {
  margin-top: 0.5rem;
}

.detail-panel__size .size-title {
  font-size: 1.25rem;
}

.detail-panel__size .size-list {
  margin-top: 8px;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.detail-panel__size .size-item {
  user-select: none;
  flex-direction: column;
  width: 96px;
  height: 48px;
  font-size: 1.25rem;
  font-weight: 400;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #BCBCBC;
}

.size-item.active {
  background-color: var(--accentColor);
}

.size-item .size-item__quantity {
  font-size: 0.5rem;
}

.detail-panel__price .price--old {
  color: #BCBCBC;
  font-size: 1.25rem;
  text-decoration: line-through;
}

.detail-panel__price .price--new {
  font-size: 3rem;
}

.detail-panel__action-btn {
  margin-top: auto;
  display: flex;
  gap: 0.5rem;
}

.detail-panel__action-btn .add-cart-btn {
  gap: 4px;
  font-size: 1.25rem;
  flex: 1;
}

.detail-panel__action-btn .wishlist-btn {
  width: 64px;
  height: 64px;
  background: #C4C4C4;
}

.detail-panel__action-btn .wishlist-btn img {
  width: 28px;
  height: 28px;
}

.detail-description {
  margin: 64px 0;
  padding-top: 16px;
  flex-direction: column;
  gap: 16px;
  border-top: 1px solid #BCBCBC;
}

.detail-description__title {
  font-size: 2rem;
}

.detail-description__info {
  font-size: 1.25rem;
}

/* CART */
.cart-list__title {
  font-size: 2rem;
  padding-bottom: 4px;
  border-bottom: 1px solid #000;
}

.cart-list__item {
  padding: 1rem;
  gap: 16px;
  margin: 1rem 0;
  background: var(--primaryColor);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.cart-list-item__img-wrap {
  width: 120px;
}

.cart-list-item__img {
  width: 100%;
}

.cart-info {
  row-gap: 8px;
  flex-direction: column;
  justify-content: space-between;
}

.cart-info__name {
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 14px;
}

.cart-info__quantity-btn {
  min-width: 96px;
  max-width: fit-content;
  height: 48px;
  gap: 8px;
  background: var(--primaryColor);
  border: 1px solid #BCBCBC;
}

.quantity-btn>* {
  height: 100%;
}

.quantity-btn__input {
  text-align: center;
  width: 32px;
  font-size: 1.25rem;
}

.cart-info:last-child {
  margin-left: auto;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.cart-info__price {
  font-size: 1.5rem;
}

.checkout {
  flex-direction: column;
  gap: 8px;
  padding: 32px 0;
}

.checkout__price-list {
  flex-direction: column;
  gap: 16px;
}

.price-list__item {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}

.checkout__total-price {
  justify-content: space-between;
  padding: 32px 0 16px;
  font-size: 1.25rem;
  border-top: 1px solid var(--secondaryText);
}

.checkout__info {
  margin: 64px 0;
}

.checkout-info__input-wrap {
  flex-direction: row;
  justify-content: space-between;
  margin: 8px 0;
}

.checkout-info__input {
  flex: 0 0 80%;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #BCBCBC;
}

textarea.checkout-info__input {
  height: fit-content;
}

.checkout__checkout-btn {
  height: 64px;
  font-size: 1.25rem;
}

/* USER MODAL */
#user-modal {
  padding: 1rem 0;
}

.sidebar {
  overflow: hidden;
  flex-direction: column;
  min-height: 462px;
  background-color: #f4f4f4;
}

.sidebar__item {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  height: 48px;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
}

.sidebar__item:last-child {
  margin-top: auto;
}

.sidebar__item.active {
  background-color: var(--accentColor);
}

.sidebar__item:hover {
  background-color: rgba(0, 0, 0, 0.025);
}

.sidebar__item.active:hover {
  background-color: var(--accentColor);
}

.sidebar-item__icon {
  width: 2rem;
  height: 2rem;
  margin-right: 4px;
}

.user-panel__item {
  display: none;
}

.user-panel__item.active {
  display: block;
}

/* PERSONAL INFO MODAL */
#personal-info-modal {
  width: 100%;
}

.personal-info__title {
  justify-content: space-between;
  padding: 0.5rem 0;
  border-bottom: 1px solid #000;
}

.personal-title__edit-btn {
  font-size: 0.875rem;
  padding: 0 1rem;
  border: 1px solid #000;
}

.personal-info__list {
  margin: 2rem 0;
}

.personal-list__item {
  width: fit-content;
  margin: 1rem 0;
}

.personal-list-item__key {
  font-size: 1.125rem;
  margin-bottom: 0.25rem;
}

.personal-list-item__value {
  font-weight: 400;
}

.personal-list-item__change-pass-btn {
  display: block;
  width: fit-content;
  font-size: 0.875rem;
  color: var(--accentText);
  background-color: var(--primaryText);
}

.personal-info__other-action {
  border-top: 1px solid #000;
  padding: 0.5rem 0;
}

.personal-info__logout-btn {
  gap: 2px;
  width: fit-content;
  color: var(--accentText);
}

/* RECEIPT */
#receipt-modal {
  width: 100%;
}

.receipt__title {
  padding: 0.5rem 0;
  border-bottom: 1px solid #000;
}

/* FOOTER */
footer {
  color: var(--accentText);
}

.main-footer {
  background-color: var(--footerBgColor);
}

.sub-footer {
  background-color: var(--secondaryColor);
}

.footer-contact {
  margin: 1rem 0 2rem;
}

.footer-contact__text {
  padding-bottom: 4px;
  border-bottom: 1px solid var(--accentText);
}

.footer-info__name {
  font-size: 0.875rem;
  margin: 16px 0 8px 0;
}

.footer-link {
  gap: 8px;
}

.footer-copyright {
  height: 32px;
  justify-content: flex-end;
}

/* ADMIN */
#admin .sidebar {
  flex-direction: column;
  min-height: 100vh;
}

#admin .homepage-btn {
  justify-content: center;
  margin-bottom: 32px;
}

#admin .user-panel {
  max-height: 100vh;
  overflow-y: auto;
  /* padding: 1rem; */
}

#admin .user-panel__header {
  position: sticky;
  z-index: 999;
  top: 0;
  background-color: var(--primaryColor);
  padding: 1rem;
  justify-content: space-between;
}

#admin .user-panel__content {
  padding: 0 1rem;
}

#admin .user-panel-header__action {
  gap: 8px;
}

#admin .user-panel__add-list-btn {
  border: 1px solid #000;
}

#admin .search-bar {
  margin-left: auto;
  height: 48px;
  flex-grow: 0;
}

#admin .list-table {
  width: 100%;
}

#admin .table-action {
  gap: 4px;
}

#admin .table-action a {
  color: var(--accentText);
  font-size: 16px;
}

#admin .table td img {
  max-height: 160px;
}

#admin .form-control-wrap {
  flex-direction: row;
}

#admin .category-list {
  overflow-y: auto;
  height: 100%;
  max-height: 100%;
}

#admin .category-list__item {
  margin: 8px 0;
}

#admin .preview img {
  max-width: 320px;
}